name: test

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.22
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.54
  test:
    name: go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ^1.22
          cache: false
      - name: go test
        run: go test -coverprofile cover.out -timeout 30m
        env:
          CGO_ENABLED: 0
          GO111MODULE: on
          GOOS: linux
          GOARCH: amd64
      - name: send coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: cover.out